/*@media screen and (max-width: 700px) {
	.imagesmall {
		width:50%;
	}*/

			.two_column_table {
				display: table;
				width: 100%;
				position: relative;
			}

			.two_column_table p {
				max-width: 300px;
				margin-left: auto;
				margin-right: auto;
			}
			.table_row {
				display: table-row;
				background-color: white;
			}
			.imagesmall img {
				height:200px;
			}
			.column {
				display: table-cell;
				width: 50%;
				z-index: 1;
				min-height: 2px;
				margin: 0;
				padding:0;
				text-align: center;
				height: 300px;
				background-color: white;
				

			}
			.divider {
				position: absolute;
				background-color: #d6d6d6;
				display: block;
				width: 1px;
				top: 0;
				left: 50%;
				bottom: 50px;
			}

h2 {
	font-family: raleway;
	font-weight: 300;
}

.imagesmall {
	width:25%;
	height:200px;
	margin: 5px;
	background-color: grey;
	overflow: hidden;
	min-width: 200px;
}

.imagelarge {
	margin: auto;
	height:450px;
	width: 100%;
	background-color: white;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;	
}
	
.small_container {
	display:flex;
	flex-direction:row;
	text-align: center;
}

.large_container {
	display:flex;
	flex-direction:row;
	text-align: center;
}

.menu_bar {
	background-color: grey;
}

.menu_bar ul {
	padding: 8px 0px;
	list-style: none;
	text-align: center;
	margin: 0;
}

.menu_bar li {
	display: inline-block;
	padding: 0 16px;
	margin: 0;
}

body {
	margin: 0;
	font-style: normal;
	font-family:"Raleway", cursive;
	font-size: 1em;
	line-height: 1.75;
	font-weight: 150;
	
}

footer {
	display:block;
	width: 100%;
}